<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/categories">Categories</a>
      <a href="/items">Items</a>
    </nav>

    <nav class="create-links">
      <a href="/category/create">Create new category</a>
      <a href="/item/create">Create new item</a>
    </nav>
  </header>

  <body>